:root{
	--color-background-branco: #F3F3F3;
	--color-azul-fraco: #1493AE;
	--color-preto: #000000;
	--color-cinze: #8D8D8D;
	--color-azul-forte: #0600FF;
	--color-azul-escuro-princ: #181525;
	--color-azul-escuro-sec: #13111E;
	--color-azul-escuro-terc: #282246;
	--color-caramelo: #D69B15;
	--color-amarelo: #DDB515;

	--color-laranja: #F9732C;

}

* {

	font-family: Roboto, Helvetica, Arial, sans-serif;

}

html, body {
	background-color: var(--color-background-branco);
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	transition: 0.2s opacity;
	color: #fff;
}

a:hover {
	color: #F9732C;
}

a.router-link-exact-active {
  color: #F9732C;
}

.rodape {
	position: relative;
	width: 1366px;
	height: 200px;
	left: calc(50% - 1366px/2);
	bottom: 0px;
	background: #181525;
	}
.insta {
	position: absolute;
	left: 78.4%;
	right: 18.48%;
	top: 16.5%;
	bottom: 62.23%;
	background: #F9732C;
	border-radius: 5.5px;
	}
.face {
	position: absolute;
	left: 83.75%;
	right: 13.14%;
	top: 16.5%;
	bottom: 62.23%;
	background: #F9732C;
	border-radius: 5.5px;		
	}
.youtube {
	position: absolute;
	left: 78.4%;
	right: 18.48%;
	top: 54.5%;
	bottom: 24.23%;
	background: #F9732C;
	border-radius: 5.5px;
	}
.whats {
	position: absolute;
	left: 83.75%;
	right: 13.14%;
	top: 54.5%;
	bottom: 24.23%;
	background: #F9732C;
	border-radius: 5.5px;
	}
.logorodape{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 144px;
	top: 50px;
}
.imageyt{
	width: 200px;
}